#task-common-disclaimer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9000;
}
#task-common-disclaimer #overlay-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.97);
}
#task-common-disclaimer .overlay-container {
  position: relative;
  width: 80%;
  top: 25%;
  margin: 0 auto;
}
#task-common-disclaimer .overlay-container .overlay-header {
  background: #006998;
  padding: 5px 5px;
  color: white;
  font-weight: bold;
}
#task-common-disclaimer .overlay-container .overlay-header .overlay-close {
  cursor: pointer;
}
#task-common-disclaimer .overlay-container .overlay-content {
  background: #fff;
  overflow-x: auto;
  max-height: 40vh;
  padding: 15px;
  border-bottom: 1px solid grey;
}
#task-common-disclaimer .overlay-container .overlay-footer {
  background: #fff;
  padding-top: 10px;
}
